//colors
$color-white: #fff;
$color-black: #000;
$color-lighter-black: #051441;
//header gradiant

$primary: #BD3F32;
$primary-variant: #CB356B;

//button color
$secondary: #32C2EC;

//other
$light-pink: #F47276;
$light-orange: #DD6202;

//footer color
$light-blue: #EFF2F9;

//border color
$border-gray: #707070;
//shadow color
$shadow-color: #6754E2;

//subtl black
$form-black: #051441;

$color-primary: #55c57a;
$color-secondary-dark: #ff7730;

$opacity:#F4F5F8;
$background:#F5F4FF;
$error:Red;
$color-orchid: #2d3436;


$color-text-dark: #3c4858;
$light-gray: #E9ECF3;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #F0F0F0;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

//ANIMATIONS stuff
$form-shadow: 0 1rem 4rem 0 rgba($shadow-color, .22);
$hover: all 0.2s ease-in;
$slide: all 0.3s cubic-bezier(.55,0,.1,1);
$slide-delay: all 0.4s 0.1s  cubic-bezier(.55,0,.1,1);
$slide-slow: all 0.5s  cubic-bezier(.55,0,.1,1);
$zoom: all 1s cubic-bezier(.55,0,.1,1);
$zoom-slow: all 2.4s cubic-bezier(.55,0,.1,1);
$default-shadow: 0 1.5rem 4rem 0 rgba($color-black, .2);
$Second-shadow: 0 1rem 3.5rem 0 rgba($color-black,.1);
$third-shadow: 0 .6rem 1.7rem 0 rgba($shadow-color, .3);
$fourth-shadow: 0 3px 5px 0 rgba(47, 85, 212, 0.3);
$default-transition:  all 0.5s ease;




//layout vars
$default-padding: 3rem;
$default-font-size: 1.6rem;
$medium-font-size: 3rem;
$small-font-size: 2rem;

$font-size-4: 4rem;
$font-size-3: 3rem;
$font-size-5: 5rem;

$regular-font-weight: 400;
$light-font-weight: 300;
$medium-font-weight: 500;

//video ratio
$videoratio: 30rem