.form-section {
    display: grid;
    // grid-template-columns: repeat(2, 1fr);
    position: relative;
    top: -13rem;

    @include responsive(tab-port) {
        grid-template-columns: 1fr;

    }

    @include responsive(phone) {
        top: -9rem;
    }

    .product-img {
        width: 60rem;
        align-self: center;
        justify-self: center;
    }
}

.encouragement {
    text-align: center;
    margin-top: -10rem;

    @include custom_media(556) {
        margin-top: -10rem;
    }

    &__container {
        width: 50%;
        margin: 0 auto;

        @include responsive(tab-port) {
            width: 70%;
        }

        @include responsive(phone) {
            width: 80%;
        }
    }

    &--result {
        margin: 20rem 0 5rem 0;

        @include responsive(tab-land) {
            margin: 30rem 0 5rem 0;
        }

        @include responsive(phone) {
            margin: 33rem 0 5rem 0;
        }
    }
}

.exclusive {
    margin: 5rem 0;
    background: rgb(252, 105, 134);
    background: $gold-bg;
    padding: 5rem 10rem 5rem 0;
    position: relative;

    @include responsive(tab-land) {
        padding: 5rem 0;
    }

    &__text {
        color: $form-black;
        width: 30%;

        &-description {
            font-size: 2rem;
            margin: 4rem 0;
            font-weight: 400;
            line-height: 1.7;
        }

        @include responsive(tab-land) {
            width: 50%;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 13rem;
        }

        @include responsive(phone) {
            width: 90%;
        }
    }

    &__title {
        &--sub {
            font-size: 4rem;
            font-weight: 300;
            display: block;
        }

        &--main {
            font-size: 5rem;
            font-weight: 700;
            display: block;
        }
    }

    &__arrow-icon {
        width: 20rem;
        position: absolute;
        @include abs_centering;
        transform: translate(-50%, -50%) rotateY(180deg);

        @include responsive(tab-land) {
            display: none;
        }
    }

    &__product-img {
        position: absolute;
        top: 20.5rem;
        left: 14.2rem;

        @include custom_media(1478) {
            left: 5rem;

        }

        @include responsive(tab-land) {
            @include abs_centeringX;
            top: 45rem;

        }

    }

}

.section-slider {
    margin: 5rem 0;
    direction: ltr;
    overflow: hidden;

    &__responsive {
        margin: 0 auto;
        max-width: 1900px;
        width: 100%;
    }

    &__container {
        // width: 60rem;
        height: 80rem;
        overflow: hidden;
        position: relative;

        @include responsive(tab-port) {
            height: 50rem;
        }

        @include responsive(phone) {
            height: 35rem;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(2, 0, 36, 0.8239496482186625) 0%, rgba(255, 255, 255, 0) 100%);
            z-index: 555;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;

    }


}

.benefits {
    background-color: #F7F1F1;
    padding: 5rem 2rem;

    @include responsive(phone) {
        padding: 5rem 0rem;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 5rem;

        @include responsive(tab-port) {
            grid-template-columns: 1fr;

        }
    }

    &__product-img {
        @extend .product-img;

        @include responsive(tab-port) {
            order: 2;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: start;
        align-self: center;
        position: relative;
        border-right: 2px solid $goldy;

        @include responsive(tab-port) {
            border-right: none;
            border-bottom: 2px solid $goldy;
            margin-bottom: 6rem;
            padding: 2rem 0;
        }
    }

    &__item {
        display: flex;
        padding: 2rem 4rem 2rem 0;
        justify-content: center;

        &--icon {
            margin-left: 1rem;
            height: 5rem;
        }

        &--text {
            @extend .description-text;
            margin: 0;
        }
    }

    &__saperator {
        position: absolute;
        width: 5rem;
        transform: translate(103%, -50%) rotateY(180deg);
        top: 50%;

        @include responsive(tab-port) {
            transform: translate(-50%, 77%) rotate(90deg) rotateY(180deg);
            left: 50%;
            bottom: 0;
            top: unset;
        }
    }
}

.reviews {
    direction: ltr;
    padding: 5rem 2rem;
    overflow: hidden;
    @include responsive(phone) {
        padding: 5rem 0rem;
    }

    &__container {
        width: max-content;
        text-align: center;
        padding: 2rem;
    }

    &__img {
        width: 20rem;
        margin: 0 auto;
        border-radius: 5px;
    }

    &__description {
        @extend .description-text;
    }

    &__author {
        @extend .description-text;
        color: $light-orange;
    }
}

.offer {
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__container {
        text-align: center;

        &:nth-child(2) {
            margin: 0 10rem;
        }

        &>p {
            font-size: 3rem;
            font-weight: 500;
        }
    }

    &__title {
        @extend .description-text;
        font-size: 3rem;
        font-weight: 500;
    }

    &__img {
        width: 40rem;
    }

    &__new {
        color: #5CBE83;
    }

    &__original {
        color: #F51D48;
        text-decoration: line-through;
    }
}


.buy-now {
    //background styling
    height: 95vh;
    background-image: linear-gradient(to right bottom,
            rgba($color-white, 0.2),
            rgba($form-black, 0.8)),
        url(../images/bg2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70vh);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70vh);
        height: 95vh;
    }

    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
        background-image: linear-gradient(to right bottom,
                rgba($color-white, 0.6),
                rgba($form-black, 0.8)),
            url(../images/bg2.jpg);
    }

    @include responsive(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 40vh);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 40vh);
        height: 50vh;
    }

    &__form {
        position: relative;
        top: -37rem;
        width: 34%;

        @include custom_media(1332) {
            width: 75%;
        }

        @include responsive(tab-port) {
            width: 65%;
        }

        @include responsive(phone) {
            width: 90%;
            top: -17rem;
        }
    }

    &__title {
        position: absolute;
        left: 10%;
        top: 10%;
        color: white;
        text-align: center;

        @include responsive(tab-port) {
            width: 100%;
            text-align: center;
            left: 50%;
            right: unset;
            top: 25%;
            transform: translateX(-50%);
        }

        &-main {
            font-size: 5rem;
            font-weight: 700;
            color: white;

            &--first {
                display: block;
            }

            &--second {
                display: block;
            }
        }

        &-sub {
            font-weight: 300;
            font-size: 2.8rem;
            line-height: 4;

        }
    }
}

.section-service {
    padding: 3rem 0;
    margin-top: -30rem;
    
    @include responsive(phone){
        margin-top: -10rem;
    }
    &__container {
        max-width: 1200px;
        margin: 0 auto;
    }
    &__title{
        font-size: 3rem;
        font-weight: 600;
    }
    &__list{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        @include responsive(phone){
            flex-direction: column;
        }
    }
    &__item{
        text-align: center;
        height: max-content;
         .icon {
            border-radius: 50%;
            margin: 0 auto 15px;
            display: block;
            height: 68px;
            width: 68px;
            line-height: 68px;
            font-size: 34px;
            text-align: center;
            color: $color-white;
            background: $gold-bg;
        }
    }

}

.footer{
    padding: 10rem 0 5rem 0;
    text-align: center;
    background-color: $light-blue;
    &__links{
        margin: 0 auto;
        width: 60%;
        display: flex;
        justify-content: space-around;
        border-bottom: .2px solid #707070;
        @include responsive(phone){
            width: 90%;
        }
    }
    &__link{
        &,
        &:link,
        &:visited{
            text-decoration: none;
            @extend .description-text;
            color: #051441;
            @include responsive(phone){
                font-size: 2rem;
            }
        }

    }
    &__right{
        @extend .description-text;
        margin: 2rem auto;
    }
    &__designer{
        @extend .description-text;
        font-weight: 600;
        margin: 0rem auto;
        & > a {
            color: $secondary;
        }
    }
}


.buy-now-sticky {
    direction: ltr;
	padding: .6rem 4rem;
	width: 100%;
	background-color: #fff;
	position: fixed;
	bottom: 0;
	z-index: 12;
	display: flex;

}

@include custom_media(640) {
	.buy-now-sticky {
		padding: .6rem 1.5rem;

	}
}