

.btn {

    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        border-radius: 1rem;
        transition: all .2s;
        position: relative;
        font-size: 2.2rem;

        //Change for the <button> element
        border: none;
        cursor: pointer;

        // @include responsive(tab-port) {
        //     display: block;
        //     width: 35rem;
        //     margin: 5rem auto;
        // }
    }


    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }

    &--blue {
        display: block;
        background-color: $secondary;
        color: $color-white;
        margin: 0 auto;
        padding: 1.4rem 7rem;
        &::after {
            background-color: $secondary;
        }
    }




    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 1rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

}


.btn-text {
    &,
    &:link,
    &:visited {
        font-size: 2rem;
        color: $primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 2.6px solid $primary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }

    &__learnig-center{
        width: max-content;
    }

    &__lrn-webinar{
        color: $color-white !important;
        margin: 4rem 0;
        border-bottom: 2.6px solid $color-white !important;
        &:hover{
            background-color: $color-white ;
            color: $primary !important;
        }

    }
}
